{% extends 'layouts/main.twig' %}

{% block title %}{{ app.name ~ ' - About' }}{% endblock %}

{% block content %}
    <h1>About</h1>

    <p>
        This is a "static" page. You may change the content of this page
        by updating the file <code>{{ _self }}</code>.
    </p>
{% endblock %}
